# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
terraform-ecs-bluegreen/.terraform/

# Large files
*.exe
*.dll
*.so
*.dylib
terraform-provider-aws*

# Node
node_modules/
npm-debug.log

# Docker
Dockerfile

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
